services:
  tm-database_postgres_auth:
    container_name: tm-database_postgres_auth
    image: postgres:17.4-alpine3.21
    restart: unless-stopped
    ports:
      - 127.0.0.1:5441:5432
    environment:
      - POSTGRES_USER=${AUTH_PG_USER:-auth}
      - POSTGRES_PASSWORD=${AUTH_PG_PASS:?database password required}
      - POSTGRES_DB=${AUTH_PG_NAME:-auth}
    volumes:
      - tm-volume_auth_postgres:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "${AUTH_PG_NAME:-auth}", "-U", "${AUTH_PG_USER:-auth}" ]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s
    networks:
      - tm-network_auth_postgres

  tm-database_postgres_accounts:
    container_name: tm-database_postgres_accounts
    image: postgres:17.4-alpine3.21
    restart: unless-stopped
    ports:
      - 127.0.0.1:5442:5432
    environment:
      - POSTGRES_USER=${ACCOUNTS_PG_USER:-accounts}
      - POSTGRES_PASSWORD=${ACCOUNTS_PG_PASS:?database password required}
      - POSTGRES_DB=${ACCOUNTS_PG_NAME:-accounts}
    volumes:
      - tm-volume_accounts_postgres:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "${ACCOUNTS_PG_NAME:-accounts}", "-U", "${ACCOUNTS_PG_USER:-accounts}" ]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s
    networks:
      - tm-network_accounts_postgres

  tm-database_redis_auth:
    container_name: tm-database_redis_auth
    image: redis:8.2.2-alpine3.22
    restart: unless-stopped
    ports:
      - 6379:6379
    volumes:
      - tm-volume_auth_redis:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s
    networks:
      - tm-network_auth_redis

  tm-migrations_auth:
    container_name: tm-migrations_auth
    image: migrate/migrate:v4.15.1
    depends_on:
      tm-database_postgres_auth:
        condition: service_healthy
    environment:
      - POSTGRES_USER=${AUTH_PG_USER:-auth}
      - POSTGRES_PASSWORD=${AUTH_PG_PASS:?database password required}
      - POSTGRES_DB=${AUTH_PG_NAME:-auth}
    volumes:
      - ./auth/migrations:/migrations
    networks:
      - tm-network_auth_postgres
    command: [
      "-path", "/migrations",
      "-database", "postgres://${AUTH_PG_USER:-accounts}:${AUTH_PG_PASS:?database password required}@tm-database_postgres_auth:5432/${AUTH_PG_NAME:-accounts}?sslmode=disable",
      "up"
    ]

  tm-migrations_accounts:
    container_name: tm-migrations_accounts
    image: migrate/migrate:v4.15.1
    depends_on:
      tm-database_postgres_accounts:
        condition: service_healthy
    environment:
      - POSTGRES_USER=${ACCOUNTS_PG_USER:-accounts}
      - POSTGRES_PASSWORD=${ACCOUNTS_PG_PASS:?database password required}
      - POSTGRES_DB=${ACCOUNTS_PG_NAME:-accounts}
    volumes:
      - ./accounts/migrations:/migrations
    networks:
      - tm-network_accounts_postgres
    command: [
      "-path", "/migrations",
      "-database", "postgres://${ACCOUNTS_PG_USER:-accounts}:${ACCOUNTS_PG_PASS:?database password required}@tm-database_postgres_accounts:5432/${ACCOUNTS_PG_NAME:-accounts}?sslmode=disable",
      "up"
    ]

  tm-service_accoutns:
    container_name: tm-service_accoutns
    build:
      context: ./accounts
      dockerfile: Dockerfile
    stop_signal: SIGINT
    restart: unless-stopped
    ports:
      - "4002:8000"
    depends_on:
      tm-database_postgres_accounts:
        condition: service_healthy
      tm-migrations_accounts:
        condition: service_completed_successfully
    volumes:
      - ./accounts:/usr/src/accounts
    ulimits:
      nofile:
        soft: "65536"
        hard: "65536"
    networks:
      - tm-network_accounts_postgres
      - tm-network_accounts_service

  tm-service_auth:
    container_name: tm-service_auth
    build:
      context: ./auth
      dockerfile: Dockerfile
    stop_signal: SIGINT
    restart: unless-stopped
    ports:
      - "4001:8000"
    depends_on:
      tm-database_postgres_auth:
        condition: service_healthy
      tm-database_redis_auth:
        condition: service_healthy
      tm-migrations_auth:
        condition: service_completed_successfully
      tm-service_accoutns:
        condition: service_healthy
    volumes:
      - ./auth:/usr/src/auth
    ulimits:
      nofile:
        soft: "65536"
        hard: "65536"
    networks:
      - tm-network_auth_service
      - tm-network_auth_postgres
      - tm-network_auth_redis
      - tm-network_accounts_service


volumes:
  tm-volume_auth_postgres:
  tm-volume_auth_redis:
  tm-volume_accounts_postgres:


networks:
  tm-network_auth_postgres:
    driver: bridge
  tm-network_auth_redis:
    driver: bridge
  tm-network_auth_service:
    driver: bridge
  tm-network_accounts_postgres:
    driver: bridge
  tm-network_accounts_service:
    driver: bridge